.container {
  text-align: center;
}

.eventName {
  text-align: center;
}

.eventSchedule {
  text-align: center;
}

.counterCounter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem;
}

.counter {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 20px;
}

.quantity {
  padding: 1rem;
}

.button {
  background-color: #c40500;
  color: white;
  width: 100%;
  padding: 0.5rem;
}
