.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: #017b4f;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.school {
  color: white;
  font-size: large;
}

.main {
  background-color: white;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.side {
  border: 1px solid lightgray;
  background-color: white;
}

.rightmain {
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightmain h1 {
  color: #c40500;
}

.footer {
  background-color: #164432;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
